<% if (page.videothumb){ %>
<figure class="article-gallery">
  <a href="<%- page.videothumb %>">
    <video class="article-gallery-vid" src="<%- page.videothumb %>" autoplay loop muted />
  </a>
  <% if (page.thumb){ %>
  <figcaption>
    Source: <a href="<%- page.thumb.link %>"><%- page.thumb.caption %></a>
  </figcaption>
  <% } %>
</figure>
<% } else if (page.photos && page.photos.length){ %>
<figure class="article-gallery">
  <div class="article-gallery-photos">
    <% page.photos.forEach(function(photo, i){ %>
      <a class="article-gallery-img fancybox" href="<%- photo %>" rel="gallery_<%= page._id %>">
        <img src="<%- photo %>" itemprop="image">
      </a>
      <% if (page.thumb){ %>
      <figcaption>
        Source: <a href="<%- page.thumb.link %>"><%- page.thumb.caption %></a>
      </figcaption>
      <% } %>
    <% }) %>
  </div>
</figure>
<% } %>

