<footer id="footer" class="site-footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>

  <a class="search-menu-item-mobile">
    <%- partial('search/index') %>
  </a>

  <div class="clearfix container">
    <div class="site-info">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.title || config.author %>. <%= __('rights_reserved') %>. <%= __('site_built') %> <a href="https://hexo.io/">Hexo</a>.
    </div>
    <div class="site-credit">
      <%= __('theme_by') %> <a href="https://github.com/iTimeTraveler/hexo-theme-hipaper" target="_blank">hipaper</a>
    </div>
  </div>
</footer>

<!-- min height -->

<script>
  var wrapdiv = document.getElementById("wrap");
  var contentdiv = document.getElementById("content");

  wrapdiv.style.minHeight = document.body.offsetHeight - document.getElementById("allheader").offsetHeight - document.getElementById("footer").offsetHeight + "px";
  contentdiv.style.minHeight = document.body.offsetHeight - document.getElementById("allheader").offsetHeight - document.getElementById("footer").offsetHeight + "px";


  <!-- headerblur min height -->
  <% if (is_current("about", false) && theme.about_big_image){ %>
    var headerblur = document.getElementById("header-blur");
    headerblur.style.minHeight = window.getComputedStyle(document.getElementById("allheader"), null).height;
  <% } %>

</script>

<!-- Copied and modified from Denis Bouquet:
  https://www.denisbouquet.com/google-fonts-render-blocking/

  Thanks Denis!
-->
<script type="text/javascript">
  var fonts = 'Open+Sans|Roboto:300,300italic,400,400italic|EB+Garamond:400,400i,700,700i&display=swap|Yanone+Kaffeesatz%3A200%2C300%2C400%2C700&amp;ver=4.6.1|Oswald%3A300%2C400%2C700&amp;ver=4.6.1'
  <% if (config.highlight.enable) { %>
  fonts = fonts.concat('Roboto+Mono:400,500&display=swap')
  <% } %>

  WebFontConfig = {
    google: { families: [ fonts ] }
  };

  (function() {
    var wf = document.createElement('script');
    wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })();
</script>
